/*=======================================================================
*** PORTO_SUB STYLE SHEET***
========================================================================*/

tbody {
border-top: 0px solid #ccc !important;

}
/*=======================================
One Stop Shop front page
=========================================*/
.call-to-action h3 {
    
    color: white;
   
}
img.img-responsive.img-rounded.mb-lg {
    border-radius: 6px;
}
ul.list.list-icons.list-icons-style-3.list-icons-sm {
	color: white;
}
b, strong {
    /*font-weight: 200;*/
	font-weight: bold;
}
/*#block-block-28 a:hover, a:focus{ 

background-color: #0079aa;
}*/
/*=======================================
One Stop Shop landing page
=========================================*/
.row.flexbox {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    flex-grow: 1;
}
.col-md-3 {
    flex: 1 0 200px;
    flex-flow: row wrap;
    align-items: stretch;
    
}
section.call-to-action.call-to-action-primary.button-centered.mb-xl.flexbox {
	flex-grow: 1;
	height: 98%;
	background: #005577;
}
.content img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
}

.btn-lg {
	font-size: 15px;
}

html .btn-primary {
	border-color: #006790 #006790;
	width: 100%;
}

html .btn-primary:focus {
   
    background-color: #006790;
}
a.btn.btn-lg.btn-primary{
	border-radius: 6px !important;
	padding: 15px;
    white-space: normal;
}

.xtrainfo1 .call-to-action-btn.flexbox {
    margin-bottom: 2px;
}

.xtrainfo2 .call-to-action-btn.flexbox {
    margin-top: 0px;
}
@media (max-width: 767px){
.xtrainfo1 .call-to-action-btn.flexbox {
    margin-bottom: 2px;
	padding-bottom: 2px;
}

.xtrainfo2 .call-to-action-btn.flexbox {
    margin-top: 0px;
	padding-top: 0px;
}
}

/*=======================================
Make a payment page
=========================================
.col-md-4 {
    flex: 1 0 200px;
    flex-flow: row wrap;
    align-items: stretch;
}

section.call-to-action.with-borders.button-centered.mb-xl {
    flex-grow: 1;
    height: 98%;
}
.call-to-action2-content {
    text-align: center;
    width: 100%;
    padding: 35px 0 0;
    margin: 0;
	}
.call-to-action2-content h3 {
    color: black;
}

.call-to-action1-btn.flexbox {
text-align: center;
    position: static;
    margin: 43px auto 25px;
    width: 100%;
}
.call-to-action2-btn.flexbox {
text-align: center;
    position: static;
    margin: 20px auto 25px;
    width: 100%;
}
.paytitle h3 {
    margin-top: 33px;
}

.list.list-icons.list-icons-style-3 li > .fa:first-child {
    color: #006790;  
    background-color: white;
	font-size: 1.2em;
	padding: 3px 0 0 10px !important;
}

ul.list.list-icons.list-icons-style-3.list-icons-sm.custom {
    color: #666;
    flex-flow: row wrap;
    display: flex;

}*/


/*=======================================
Make a payment page billercode list example 1
=========================================

.feature-box .feature-box-icon { 
	background-color: none;
	background: none;
	color: #006790;
}

.col-md-9 {
    
    padding-left: 0px;
}
.col-md-3 {
    
    padding-left: 0px;
}

.titlebold {
    color: #006790;
    font-size: 20px;
	padding-top: 10px;
}
h4.shorter {
	color:#006790;
}*/
/*=======================================
Make a payment page billercode dropdown example 3
=========================================*/

div#codenumber {
    text-align: left;
    float: left;
    font-size: 25px;
    padding-right: 30px;
	 color: red;
}
div#demo {
    padding: 10px 0 20px 0;
    color: #006790;
    font-size: 15px;
}

div#billercodename {
    font-size: 25px;
    color: red;
}

input#goButton {
  
    float: right;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    background: #006790;
    border: none;
    color: white;
    border-radius: 5px;
	margin-bottom: 10px;
}

div#extracomment {
    padding: 10px 0 0 2px;
    color: red;
}

select {
    width: 87px;
    height: 40px;
    margin-top: 10px;
	font-size: 15px;
    color: #006790;
}

@media (min-width: 479px) {
.custbut1 .call-to-action2-btn.flexbox {
    width: 30%;
	display: inline-block;
	 margin: 20px auto 30px;
}
}
@media (max-width: 479px) {

input#goButton {
    float: none;
    margin-top: 10px;
	
}

div#billercodename {
    font-size: 20px;
    margin-top: 5px;
}

div#codenumber {
    
    float: none;
    font-size: 20px;
}
.custbut1 .call-to-action2-btn.flexbox {
    width: 30%;
	display: contents;
	   
}
}
.paytitle h3, h4 {
    
    text-transform: none;
}

.list.list-icons.list-icons-style-3 li > .fa:first-child {
    color: #006790;  
    background-color: white;
	font-size: 1.2em;
	padding: 3px 0 0 10px !important;
}

ul.list.list-icons.list-icons-style-3.list-icons-sm.custom {
    color: #666;
    flex-flow: row wrap;
    display: flex;

}*/
/*=======================================
HEADER
=========================================*/
h6 {
 	text-align: right;
}

header#header.header-no-border-bottom {
	min-height: none!important;
}

#header .header-body {
	background: #006890;
	border-top: none;
}

.page-header-light {
	background-color: #FFFFFF !important;
	border-bottom: 5px solid #FFFFFF !important;
	border-top: none;
}

#header .header-logo img {
	width: 400px;
}

#header .header-nav-top .nav>li>a,
#header .header-nav-top .nav>li>span {
	color: #fff!important;
}

#header .header-nav-top li {
	color: #fff!important;
}

#header .header-nav-top .nav>li>a,
#header .header-nav-top .nav>li>a:focus,
#header .header-nav-top .nav>li>a:hover {
	background: transparent;
	
}

#header .header-nav-top .nav>li>a:hover {
	color: #E0E0E0 !important;
}

.dropdown-menu>li>a {
	color: #fff;
}

#header .header-btn-collapse-nav {
	background: #fff!important;
	color: #006790!important;
}

section.page-header.custom-product.we-do {
	background-image: none;
	min-height: 280px;
}

section.section.section-primary p>.mb-none {
	font-size: 1.5em;
}
.header-wog-search.hidden-xs{
	float: right;
}
.region.region-wog-search .content>p{
	color:white;
	font-size: 13px;
	margin: 0 0 10px;
}
#header .header-nav-top .nav > li > span .fa{
	display: none;
}

.header-wog-search {
    text-align: right;
}
/*=======================================
FEATURE IMAGE
=========================================*/


.thumb-info {
	border: none;
}

.featured-box {
	text-align: left;
	min-height: 450px;
}



.thumb-info .thumb-info-wrapper:after {	
	background: transparent;
}
.thumb-info-wrapper:hover>img.img-responsive{
	filter: grayscale(100%);
}
.thumb-info, .thumb-info .thumb-info-wrapper, img.img-responsive, .thumb-info .thumb-info-action-icon{
	border-radius: 0px;
}

.border-top.border-style-1 {
   
    border: none;
}
/*=======================================
MEDIA QUERIES
=========================================*/

@media (max-width: 991px) {
	header#header{
		min-height: 150px !important;
	}
	#header .header-nav-main nav > ul > li > a
	 {
		text-transform: none !important;
	}
	/*button.btn.header-btn-collapse-nav::after {
    		content: 'MENU';
	}*/
   
	#header .header-nav-bar .header-btn-collapse-nav {
    		float: left;
    		margin-left: 0px;
}
	#header .header-nav-main nav>ul>li>a,
	#header .header-nav-main nav>ul>li>a:focus,
	#header .header-nav-main nav>ul>li>a:hover {
		color: #ffffff!important;
		background-color: transparent;
	}
	#header .header-nav-main nav>ul li {
		border-bottom: none;
	}
	.header-container.header-nav.header-nav-bar{
		background-color: rgb(3,126,173);
	}
	#header .header-nav-main nav>ul li a {
		border-radius: 0px;
	}
	#header .header-nav-main .dropdown-menu a {
		color: #fff;
		background-color: transparent;
	}
	#header .header-nav-main nav>ul>li>a:hover,
	#header .header-nav-main .dropdown-menu a:hover{
		background-color: #006890;
	}
	.page-header h1 {
    		line-height: 44px;
	}
	.social-icons {
    		text-align: center !important;
	}

	#footer {
		text-align: center;
	}
   	
}


@media (min-width: 992px) {
	header#header{
		min-height: 150px !important;
	}
	#header .header-nav-main {
		margin: 0px;		
	}
	#header .header-nav-bar {
		padding: 0px;
		background: #FFFFFF;
		color:#006890;		
	}       
}


@media (min-width: 768px){
		.show-xs {
    		display: none!important;
	}
}

@media (max-width: 479px){
	header#header{
		min-height: 150px !important;
	}
	#header .header-logo img {
		width: 350px;
		height: 52px;
	}


	.social-icons {
    		text-align: center !important;
	}

	#footer {
		text-align: center;
	}

	.page-header h1 {
    		line-height: 36px;
	}
	h4 {
		margin-top: 20px !important;
	}
	.show-xs {
    		display: inline-block;
	}
	h6 {
 		text-align: center;
	}
}

/*=======================================
Menu
=========================================


.tb-megamenu .mega > .mega-dropdown-menu{
	min-width: 260px;
}
.tb-megamenu .span12.mega-col-nav .mega-inner{
	padding: 0px;
	
}
.tb-megamenu.style-blue {	
	background-color: #FFFFFF;
}

.tb-megamenu .nav>li>a {
	color: #006890;
	background-color: #FFFFFF;
}

.tb-megamenu.style-blue .nav>li>a {	
	border-right: none;
}

.tb-megamenu.style-blue .nav>.active>a,
.tb-megamenu.style-blue .nav>.active>a:hover,
.tb-megamenu.style-blue .nav>.active>a:focus {
	background-color: #006890;
	color: #FFFFFF;
}

.tb-megamenu.style-blue .nav li.dropdown.active>.dropdown-toggle,
.tb-megamenu.style-blue .nav li.dropdown.open.active>.dropdown-toggle {
	background-color: #006890;
}


.tb-megamenu.style-blue .dropdown-menu li>a:hover,
.tb-megamenu.style-blue .dropdown-menu li>a:focus,
.tb-megamenu.style-blue .dropdown-submenu:hover>a {
	color: #006890;
}

.tb-megamenu.style-blue .nav li.dropdown.open>.dropdown-toggle {
	color: #006890;
        background-color: #f5f5f5;
}

.tb-megamenu.style-blue .nav>li>a:focus,
.tb-megamenu.style-blue .nav>li>a:hover {
	color: #006890;	
        background-color: #f5f5f5;
}

.tb-megamenu.style-blue .nav>li.dropdown.open.active>a:hover,
.tb-megamenu.style-blue .nav>li.dropdown.open.active>a:focus {
	background-color: #006890;
	border-right-color: #006890;
	color: #FFFFFF;
}
.tb-megamenu .mega-nav > li:first-child > a, .tb-megamenu .dropdown-menu .mega-nav > li:first-child > a {
    margin-top: 0;
    padding-top: 10px;
}
.tb-megamenu.style-blue .tb-megamenu-nav.nav>li:first-child a {
    	background-color: #FFFFFF!important;
    	color: #006890!important;
    }

.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a{
	padding: 10px;
	min-height: 50px;
	display: flex;
	align-items: center;
}
*/
/*=======================================
TB Megamenu
=========================================*/
@media (min-width: 992px) {
	

	#header .header-nav-main nav > ul > li > a {
		border-radius: 0px;
		font-size: 14px;		
		font-weight: 600 !important;		
		text-transform: none;
		height: 50px;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
					
	}
	
	
	

	#header .header-nav-main nav > ul > li:hover > a, 
	#header .header-nav-main nav > ul > li.open > a {
		background-color: #f5f5f5;
		color: #006890;
	}
	
	#header .header-nav-main nav > ul > li > a:focus {
		
		color: #006890;
	}
	
	#header .header-nav-main nav > ul > li.active > a,
	#header .header-nav-main nav > ul > li.active > a:hover,
	#header .header-nav-main nav > ul > li.active > a:focus  {
		background-color:  #006890;
		color: #fff;
	}

	#header .header-nav-main nav > ul > li.dropdown.active>.dropdown-toggle,
	#header .header-nav-main nav > ul > li.dropdown.open.active>.dropdown-toggle {
	background-color:  #006890;
	}

	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu {											
		border-top: none !important;
		border-radius: 0px;		
		margin: 0px 0 0 0;
		min-width: 300px;
	
	
	}
	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
		color: #006890;
		font-weight: 600 !important;
		text-decoration: none;
	}
	#header .header-nav-main nav > ul > li > a.dropdown-toggle:after {
    		border-color: #006890  transparent transparent transparent;
	}

	#header .header-nav-main nav > ul > li.active > a.dropdown-toggle:after {
    		border-color: #FFF  transparent transparent transparent;
	}
	#header .header-nav-main nav > ul > li:first-child a {
    		background-color: #FFFFFF!important;
    		color: #006890!important;
   	 }


	#header .header-nav-main {
		min-height: 40px;
	}

	
	#header .header-nav-main nav > ul > li.dropdown > a,
	#header .header-nav-main nav > ul > li.dropdown:hover > a {
		padding-bottom: 10px!important;
	}

}

/*=======================================
TB Megamenu - Header Nav Main Mobile
=========================================*/

@media (min-width: 992px) {
	#header .header-nav-main nav > ul > li > a
	 {
		text-transform: none;
	}
	#header .header-nav-main nav > ul > li.dropdown .dropdown-menu li a {
		text-decoration: none;
	}
	

}
/*=======================================
Search form
=========================================*/

#header .header-search .form-control {
	border-radius: 1px;
	width: 320px;
}


/*=======================================
Footer
=========================================*/

html #footer.color-primary {
	background: #787878 !important;
	border-top-color: #787878 !important;
}
html #footer.color-primary .footer-copyright {
    background: #696969 !important;
}
	
/*=======================================
Social media
=========================================*/
.social-icons{
	text-align: right;
}
.social-icons li{   	
   	
	box-shadow: none;
	margin: -1px 10px 5px 0;
}

.social-icons li a {
   
    height: 32px;
    line-height: 36px;
    width: 32px;
   }
.fa {
    
    font-size: 1.5em;
}
/*=======================================
Landing pages
=========================================*/
.list a{
    color: #888888;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;

}
.list a:hover{

	color: #008080;
	text-decoration: none;
}

h1 {
	margin: 32px 0 32px 0
}

h4 {
    	margin: 20px 0 6px 0;
}

.col-sm-4 {

	padding-left: 4px;

}

/*=======================================
Title Heading
=========================================*/
h4, h5 {
    color: #008080;    
}

/*========================================
REGISTER form
==========================================*/
@media (min-width: 992px) {
	.body .form-text{    
    		width: 35%;
    		background-color: #fcfcfc;
	}

	.body .form-textarea {
    		width: 70%;
    		height: 150px;
    		background-color: #fcfcfc;rea
	}

	.resizable-textarea .grippie {
		width: 70%;
	}
}

@media (max-width: 992px) {
	.body .form-textarea {    
    		height: 150px;
	}
}

.form-item.webform-component.webform-component-textfield.webform-component--fname {
    float: left;
}

input#edit-submitted-fname {
    width: 50%;
}

.form-item.webform-component.webform-component-textfield.webform-component--lname {
    float: left;
}

input#edit-submitted-lname {
    width: 50%;
}

input#edit-submitted-postcode {
    width: 100%;
}

/*--.form-item.webform-component.webform-component-textfield.webform-component--suburb {
    float: left;}*/
.form-item.webform-component.webform-component-select.webform-component--state {
    float: left;
    margin-right: 50px;
}
.form-item.webform-component.webform-component-number.webform-component--postcode {
    float: left;}

fieldset.webform-component-fieldset.webform-component--mailing-address.form-wrapper {
    padding-left: 0;
margin-bottom: 0;
margin-top:10px;
padding: 0;
}

legend {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.form-item.webform-component.webform-component-textfield.webform-component--address {
    margin-top: 0;
}

/*******************************************
Cost Recovery submission form
********************************************/
select#edit-submitted-details-set-sector {
    width: auto !important;
}

textarea#edit-submitted-disclaimer-content {
    background-color: aliceblue;
    border: 0;
}

.custbutton a.mb-xs.mt-xs.mr-xs.btn.btn-primary {
    width: auto !important;
}
/*========================================
Capcha
==========================================*/
@media (min-width: 992px) {
.captcha {
    
    overflow: show;
    background: none;
    text-align: left;
    height: 290px !important;
    width: 70%;
    padding: 20px;
    border: 1px solid #eaeaea;
}

.captcha img {
    width: 20%;
}

input.webform-submit.button-primary.btn-primary.btn.form-submit {
    width: 70%;
}

label {
    
    text-align: left;
}

legend {
    
    border-bottom:none;
    width: 13%;
}
}
@media (max-width: 992px) {
	.captcha {	
		overflow: show;
    		background: none;
    		text-align: left;
    		height: 330px !important;
    		width: 100%;
    		padding: 20px;
    		border: 1px solid #eaeaea;
	}
	label {   
    		text-align: left;
	}

	legend {
    
    		border-bottom:none;
    		width: 13%;
	}
}

/****************************************
Clearing Statistics
****************************************/
.clearingbutt a.btn.btn-primary.mb-lg {
    text-align: left;
}

.clearingbutt .col-md-12 {
    padding-left: unset;
}
.clearingbutt .col-md-4{
    padding-left: unset;
}
.highcharts-credits tspan {
    visibility: hidden !important;
}
text.highcharts-credits {
    visibility: hidden !important;
}

/*========================================
Video - IBSA page
========================================*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*========================================
Pilbara Environmental Offsets Funds page - not in use yet
========================================
.PEOF .col-md-6 {
    width: 100%;
}

.PEOF h4 {
    margin: 0px 0 25px 0;
}



========================================
Extra CSS by Allan Boyd [30/11/2017] 
==========================================*/

/* Nice blue button */

.btn-front {

color: #000;
font-size: 1.3em;
background-color:#7AAEDD;
border-radius: 0px;
text-align: center;
padding: 20px;
margin-top: 20px;
font-weight: 300;
}

.btn-front a { 
text-decoration: none; 
}

.btn-front:hover { 
color: #fff; 
background-color: #7FA7B5; 
text-decoration: none; 
}

/* FRONT PAGE WITH ONE STOP BLOCK */

#block-block-28 h1 {
font-size: 2em;
color: #fff;
font-weight: 300;
text-transform: none;
line-height: 120%;
padding-top: 0px;
}

#block-block-28 h2 { 
font-size: 1.8em; 
color: #fff;
font-weight: 300;
text-transform: none;
line-height: 120%;
padding-top: 20px; 
}

#block-block-28 a{ 
color: #fff;
}

#block-block-28 a:hover, a:focus{ 
text-decoration: none; 
/*background-color: #0079aa; */
}

#block-block-28 p{ 
color: #fff;
font-size: 1.3em;
}

#block-block-28 .col-sm-4 {
padding-left: 15px;
}

#block-block-28 .col-sm-8 {
padding-right: 150px;
}


/*ONE STOP INFO PAGE BLOCK*/

#block-block-29 a:hover, a:focus{ 
text-decoration: none;
}


#block-block-29 {
font-size: .95em;
}

#block-block-29
.list.list-icons li .fa, .list.list-icons li .icons .list-icons-sm {
color: #f5f5f5; 
background-color: #005577;
font-size: .9em;

}


#block-block-29 .btn{ 
font-size: 1.1em;
font-weight: 400;
white-space: normal !important;
word-wrap: break-word;
border-radius: 0px;
}

.well img {
margin: 0 auto;
width: 100%;
}

.well {
background: #195F8B; 
text-align: left;
color: #fff;
border: none;
padding: 20px; 
margin: 10px
font-size: .85em;
min-height: 700px;
border-radius: 3px;   
}

.well h4 {
text-align: center; 
margin: 5px 0 10px 0; 
color: #fff; 
font-size: 1.4em; 
text-transform: none;
line-height: 120%;
padding-top: 20px;
white-space: normal !important;
word-wrap: break-word;
}

.well h6 {
text-align: left; 
margin: 5px 0 10px 0; 
color: #fff; 
font-size: 1.1em; 
text-transform: none;
line-height: 120%;
padding-top: 20px;
white-space: normal !important;
word-wrap: break-word;
}

#block-block-8 .call-to-action.with-borders {
border: 1px solid #90A8C3;
border-radius: 5px;
}
 
#block-block-29 .call-to-action {
border-radius: 5px;
color: #fff;
font-size: 1em;
}


/*format about us page*/
.format1 {
     font-weight: 600;
}



/*DAIP WEBFORM INFO PAGE BLOCK*/

.descript-form {font-weight: 600; }

.textarea2 { width: 70%; }

/*.select-or-other-select .form-radio { margin: 6px;}*/


 

