/* Custom CSS overrides */
#header {
    	text-align: left;
	background-color: #006890;
    	padding-left: 20px;
	
}
#logo {
    	padding: 0 0 5px 0;
    	text-align: left;
	
	
}


p {
	margin:0 0 10px;
}

#top-content {
	padding: 20px 0 1px;
}

#slideshow {
	padding: 0 0 10px 0;
	border: 1px;
	border-radius: 6px;
} 

#banner-inside {
	padding-top: 0px;
	margin-bottom: 0px;
}

.block {
	padding: 0 0 0px;
}