@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,greek);

/* Reset unusual Firefox-on-Android default style, see https://github.com/necolas/normalize.css/issues/214*/
@media (max-width: 991px) { .form-text, .form-textarea, .block-superfish select, .block-search .form-submit { background-image: none; } }

body { color: #444; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 160%; }

p { margin: 0 0 25px; padding: 0; }

a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; 
-o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

a:hover { text-decoration: underline;  }

a:focus { outline: none; text-decoration: none; }

blockquote { margin: 40px 40px 24px; border-left: none; padding: 0; position: relative; color: #999; }

blockquote::before { content: "\201C"; display: block; font-size: 30px; left: -20px; top: 5px; position: absolute;  }

blockquote p { font-size: 14px; line-height: 160%; font-weight: 400; }

img { display: block; height: auto; max-width: 100%; }

#pre-header { color:#aaaaaa; }

#bottom-content { color: #ffffff; }

::-moz-selection { color: #ffffff; }

::selection { color: #ffffff; }

/*Heading*/
h1, h2, h3, h4, h5, h6 { font-weight: 700; line-height: 120%; padding: 0; margin: 20px 0 10px 0; font-family: 'Open Sans', sans-serif; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #444; }

h1 { font-size: 36px }

h2 { font-size: 30px }

h3 { font-size: 24px }

h4 { font-size: 20px }

h5 { font-size: 18px }

h6 { font-size: 16px }

h1.page-title { font-size: 32px; }

.title-sep, #pre-header h2, #promoted h2, .sidebar h2, #footer h2 { clear: both; font-size: 16px; margin-bottom: 40px; position: relative; }

.title-sep:after, #pre-header h2:after, #promoted h2:after, .sidebar h2:after, #footer h2:after { background-color: #444; content: ""; display: block; height: 4px; width: 20px; 
position: absolute; bottom: -15px; left: 0; }

.title-sep .glyphicon { font-size: 13px; padding-right: 18px; }

.page-node #content-wrapper h1.page-title { margin: 0; padding: 20px 40px 0 0; }

.page-node.page-node- #content-wrapper h1.page-title { padding: 20px 40px 0; }

/*tables*/
table { width: 100%; margin-bottom: 20px; border: 1px solid #dfdfdf; }

table tbody { border-top: none; }

table tr.even, table tr.odd, th { background-color: transparent; border-bottom: 1px solid #dfdfdf;}

thead tr th, thead tr td, tbody tr th, tbody tr td { padding: 8px; line-height: 142%; vertical-align: top; }

/*Layout*/
#pre-header { top: 0; left: 0; width: 100%; z-index: 13; position: absolute; background-color: #333; }

.logged-in #pre-header { padding-top: 64px; }

#pre-header-inside { display: none; position: relative; z-index: 13; padding: 40px 0 0 0; }

#header-top { background-color: ##fcfcfc; border-bottom: 1px dashed #eaeaea; position: relative; z-index: 12; min-height: 50px; } 

#header { background-color: #fcfcfc; border-bottom: 1px solid #eaeaea; position: relative; z-index: 5; padding: 40px 0; text-align: center; min-height: 130px; }

#main-navigation { background-color: #fcfcfc; position: relative; z-index: 11; -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.075), 0 10px 0 rgba(0,0,0,0.01);
-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.075), 0 10px 0 rgba(0,0,0,0.01); box-shadow: 0 2px 4px rgba(0,0,0,0.075), 0 10px 0 rgba(0,0,0,0.01); }

#banner-inside { padding-top: 60px; margin-bottom: 40px; }

#slideshow { padding: 10px; background-color: #fcfcfc; border: 1px solid #eaeaea; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; 
display: none; }

#top-content { background-color: #ffffff; padding: 40px 0 20px 0; }

#main-content { padding: 60px 0 30px 0; }

#main { padding: 0 0 20px; }

#bottom-content { padding: 40px 0 20px 0; }

#footer { background-color: #fcfcfc; border-top: 1px solid #eaeaea; border-bottom: 1px solid #eaeaea; margin-bottom: 1px; padding: 60px 0 30px; }

#subfooter { background-color: #fcfcfc; border-top: 1px solid #eaeaea; padding: 40px 0 20px; text-align: center; margin-bottom: 20px; }

.block { padding: 0 0 30px 0; clear: both; }

#header-top .block, #main-navigation .block, #banner .block { padding: 0; }

/*glyphicon-block*/
.glyphicon-block {text-align: center; }

.glyphicon-block .glyphicon { font-size: 48px; margin: 30px 0 0 0; }

.glyphicon-block h4 { margin-top: 10px; }

/*lists*/
ul li { list-style-type: square; }

ol li { list-style-type: decimal; }

#header ul, #subfooter ul { text-align: left; }

/*item lists*/
.item-list ul li { border-bottom: 1px dashed #ddd; margin-bottom: 0; padding: 15px 0; }

#block-user-login .item-list ul li { border-bottom: none; padding: 0 0 5px 0; }

.item-list ul li.first { padding-top: 0; }

.item-list ul li.last { border-bottom: none; }

/*pager*/
ul.pager { overflow: hidden; padding: 0; width: 100%; clear: both; position: relative; margin-bottom: 25px; }

.item-list ul.pager li { display: inline;  float: left; margin: 0; padding: 0; border-bottom: none;}

ul.pager li a, ul.pager li.pager-current { background: #fff; border: 1px solid #eee; padding: 14px 20px; display: block; margin: 5px 3px 5px 0; 
-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

ul.pager li a:hover, ul.pager li.pager-current { background-color: #444; border-color: #444; color: #fff; text-shadow: 0 -1px 0 rgba(0,0,0,0.2); }

/*menus*/
ul.menu { margin: 0; padding: 0; }

ul.menu li { list-style-position: inside; padding: 15px 0 15px 0; margin:0; border-bottom: 1px dashed #ddd;}

ul.menu li a { color: #999; font-size: 14px; line-height: 150%; display: inline-block; }

ul.menu li a:hover, ul.menu li a.active { text-decoration: none;}

ul.menu li.leaf { list-style-image: none; color: #444;}

ul.menu li.expanded { border-bottom: none; padding-bottom: 0;  }

ul.menu li.expanded ul { padding-left: 25px; border-top: 1px dashed #ddd; margin-top: 15px;}

/*horizontal menus*/
#header ul.menu, #subfooter ul.menu, #top-content ul.menu, #bottom-content ul.menu { text-align: center; }

#header-top ul.menu li, #header ul.menu li, #main-navigation ul.menu li, #top-content ul.menu li,
#subfooter ul.menu li, #bottom-content ul.menu li { display: inline-block; background: none; list-style-type:none; border: none; padding: 0;}

#header ul.menu li a, #top-content ul.menu li a, #bottom-content ul.menu li a { padding: 15px 20px; }

#header-top ul.menu ul, #header ul.menu ul, #main-navigation ul.menu ul, #top-content ul.menu ul,
#subfooter ul.menu ul, #bottom-content ul.menu ul { display: none; }

/*header-top menu*/
#header-top ul.menu li a { font-size: 13px; text-transform: capitalize;  padding: 16px 20px 16px; }

/*main-navigation*/
#main-navigation ul.menu li a { text-transform: uppercase; font-weight: 700; padding: 20px; }

#main-navigation ul.menu ul li a, #header-top ul.menu ul li a  { padding: 15px 20px; text-transform: capitalize; font-weight: 400; font-size: 13px; border: 1px solid #eaeaea; border-top: none; line-height: 150%; }

/*superfish support*/
.block-superfish select { -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; border-width: 1px; width: 90%; }

#main-navigation .block-superfish select { border-top: none; border-bottom: none; width: 100%; } 

.block-superfish ul.sf-menu { padding: 0; margin: 0; }

.block-superfish ul.sf-menu ul { border-top: 1px solid #eaeaea; top:100%; background: #ffffff; padding: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
-webkit-box-shadow: 0 10px 0 -5px rgba(0,0,0,0.05); -moz-box-shadow: 0 10px 0 -5px rgba(0,0,0,0.05); 
-ms-box-shadow: 0 10px 0 -5px rgba(0,0,0,0.05); -o-box-shadow: 0 10px 0 -5px rgba(0,0,0,0.05); box-shadow: 0 10px 0 -5px rgba(0,0,0,0.05); display: none;}

.block-superfish ul.sf-menu ul li a { display: block; }

.block-superfish ul.sf-menu > li > ul:before,
.block-superfish ul.sf-menu > li > ul:after { content: ""; border-style: solid; border-width: 0 9px 9px 9px; 
border-color: transparent transparent #fff transparent; height: 0px; position: absolute; left: 15px; top: -9px; width: 0px; }

.block-superfish ul.sf-menu > li > ul:after { border-color: transparent transparent #eaeaea transparent; top: -10px; z-index: -1; }

.block-superfish ul.sf-menu ul ul { top:-1px; }

.block-superfish ul.sf-menu ul ul li a { border-left: none!important; }

/*superfish menu arrows*/
#main-navigation  .block-superfish ul.sf-menu > li > a.menuparent { padding: 20px 40px 20px 20px;  }

#header-top .block-superfish ul.sf-menu > li > a.menuparent { padding: 16px 40px 16px 20px;  }

.block-superfish ul.sf-menu li a.menuparent:after { content: "\e114"; font-family: 'Glyphicons Halflings'; -webkit-font-smoothing: antialiased; 
position: absolute; top: 20px; right: 17px; font-size: 11px; font-weight: 400; }

#header-top .block-superfish ul.sf-menu li a.menuparent:after { top: 17px; } 

.block-superfish ul.sf-menu ul li a.menuparent:after { content: "\e080"; top: 14px; right: 10px; }

/*superfish menu style resets*/
.sf-menu.sf-horizontal.sf-shadow ul { background: #ffffff; padding: inherit!important; -webkit-border-top-right-radius: 0; -webkit-border-bottom-left-radius: 0;
-moz-border-radius-topright: 0; -moz-border-radius-bottomleft: 0; border-top-right-radius: 0; border-bottom-left-radius: 0; }

/*subfooter menu*/
#subfooter ul.menu li a { padding: 0 20px 15px 20px; display: block;}

/*pre-header menu, bottom-content*/
#pre-header ul.menu li a.active, #pre-header ul.menu li a:hover, 
#bottom-content ul.menu li a.active, #bottom-content ul.menu li a:hover { color: #fafafa }

#pre-header ul.menu li a { border-bottom: 1px dashed #444444; }

/* Logo - Site name*/
#logo { padding:0 0 5px 0; text-align: center; }

#logo img { display: inherit; }

#logo img:hover { opacity: 0.8; filter: alpha(opacity=80); }

#site-name a { font-size: 38px; font-weight: 700; line-height: 1em; margin: 0 0 10px; color: #444444; display: block;}

#site-name a:hover { text-decoration: none; opacity: 0.8; filter: alpha(opacity=80); }

#site-slogan { color: #999; font-size: 13px; font-weight: 300; line-height: 150%; margin:10px 0 10px 0; }

/*node*/
.node.node-teaser, .page-node- #content-wrapper, .page-contact #content-wrapper { background-color: #fcfcfc; border: 1px solid #eaeaea; margin-bottom: 30px; 
-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

.node header h2 a:hover { text-decoration: none; }

.node > .content, #comments, .page-contact #content-wrapper { padding: 20px 40px; }

.node header { padding: 10px 40px 20px; }

.node footer { padding: 20px 40px 40px; }

.field-name-field-image { margin: 10px 0 20px; }

.node .user-signature { font-size: 12px; padding: 0; }

.user-picture { margin: 0px 15px 0 0; display: inline-block; max-width: 48px;}

.submitted .glyphicon { top: 0; }

/*comments*/
#comments { background: #ffffff; }

.comment { border: 2px solid #fff; padding: 32px; margin-top:25px;} 

.comment header { padding: 0; }

.comment h3 { clear: both; }

.comment h3 a:hover { text-decoration: none; }

.comment .user-picture { float: left; margin: 0 15px 25px 0; }

.comment .new { margin: 10px 0; display: inline-block; }

/* Taxonomy term reference */
.field-type-taxonomy-term-reference { position: relative; } 

footer .field-type-taxonomy-term-reference { float: left; }

.field-type-taxonomy-term-reference .field-label { font-weight: 400; }

.field-type-taxonomy-term-reference .field-label, .field-type-taxonomy-term-reference .field-items { display: inline-block; }

.field-type-taxonomy-term-reference .field-item { margin: 0; display:inline;}

.field-type-taxonomy-term-reference .field-item:after { content: ","; margin-right: 5px;}

.field-type-taxonomy-term-reference .field-item:last-child:after { color: transparent; }

/*forum page*/
th.active img { margin: -4px 0 0 5px; }

#forum table { border: 1px solid #eaeaea; }

#forum thead tr { border-bottom: 1px solid #eaeaea; }

#forum thead tr th, #forum thead tr td { background: #ffffff; font-weight: 700; border:none; padding: 11px; }

#forum thead a { color: #444444; }

#forum tbody tr th, #forum tbody tr td { padding: 25px 25px 25px 15px; border:none;}

#forum tr.odd { background: #fbfbfb; border-bottom: 1px solid #eaeaea; }

#forum tr.even { background: #ffffff; border-bottom: 1px solid #eaeaea; }

#forum .last-reply { font-size: 12px; }

.node-forum .field-name-body { margin: 10px 0; }

.node-forum .field-type-taxonomy-term-reference { float: none; }

/*forms*/
input:focus, input[type="button"], input[type="reset"], input[type="submit"] { -webkit-transition: all 0.3s ease-in-out; 
-moz-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }

input.form-text, textarea.form-textarea, select { background-color: #fcfcfc; border: 2px solid #eaeaea; color: #999999; font-size: 14px; padding: 14px; width: 100%; 
min-height: 50px; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;} 

input.form-text:focus, textarea.form-textarea:focus { background-color: #fff; outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.search-form input.form-text { width: 70%; }

.dark input.form-text { border: none; }

select { -webkit-appearance: menulist; }

fieldset { padding:10px; margin: 0 2px; border: 1px solid #eaeaea; }

legend { border-bottom: none; font-size: 14px; width: auto; margin: 0;}

input[type="radio"], input[type="checkbox"] { margin: 0px 0 3px; }

/*buttons*/
input[type="submit"], input[type="reset"], input[type="button"] { margin: 5px 5px 10px 0; background-color: #444; border: none; box-shadow: none;
color: #fff; padding: 15px 24px; text-transform: uppercase; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #ffffff; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .highlighted-block .btn:hover,.highlighted-block .btn:focus { color: #ffffff; }

/*tabs*/
.nav-tabs { margin: 25px 0 15px; }

/*accordion*/
.panel-group { margin: 25px 0; }

.panel-heading a:hover { text-decoration: none; }

/* Drupal system links */
ul.links { padding: 0; margin: 0; list-style-position: inside; }

ul.links li { margin: 0; }

/* Breadcrumb */
.breadcrumb { background-color: #fcfcfc; border: 1px solid #eaeaea; padding: 14px 20px; margin-bottom: 30px; -webkit-border-radius: 6px;
-moz-border-radius: 6px; border-radius: 6px; }

.breadcrumb > li { margin: 0 2px 0 0; display: inline; }

/* Search block */
#header-top #block-search-form { margin: 0; float: right;}

#header-top #block-search-form .form-item { margin:0; }

#header-top #block-search-form input.form-text { border: none; padding: 15px 40px 15px 15px; font-size: 13px; width: 180px; 
-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-appearance: none; min-height: 52px; }

#header-top #block-search-form input.form-text:focus { width: 240px; background-color: #444; color: #fff;}

#block-search-form .form-actions, .sidebar-search-block .form-actions { position: absolute; top:0px; right: 20px; color: #999; font-size: 16px;}

.logged-in #block-search-form .form-actions, .logged-in .sidebar-search-block .form-actions { right: 10px; }

#block-search-form .form-actions:after, .sidebar-search-block .form-actions:after { 
font-family: 'Glyphicons Halflings'; content: "\e003"; position: absolute; top:16px; left:0; z-index: 0; }

#block-search-form input.form-submit, .sidebar-search-block input.form-submit { background-color: transparent;
color: #000; position: relative; z-index: 1; height: 52px; margin: 0; padding: 10px;}

#block-search-form input.form-submit:focus, .sidebar-search-block input.form-submit:focus, 
.sidebar-search-block input.form-submit:hover { outline: none; background: transparent; }

/*polls*/
.poll .vote-form { text-align: left; }

.poll .vote-form .choices { display: block; }

.poll .bar .foreground { background-color: #444444; }

/*call-to-action*/
.call-to-action { text-align: center; }

.call-to-action .lead { font-size: 32px; font-weight: 700; line-height: 100%; margin-bottom: 10px; text-transform: uppercase; }

.call-to-action p { margin: 0 0 30px; }

.call-to-action .btn { color: #fff; font-size: 20px; line-height:  100%; padding: 18px 28px;
-webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px;
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25); -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25); box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25); }

.call-to-action .btn:hover { opacity: 0.90; filter: alpha(opacity=90); }

.call-to-action .btn:active{ -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5); -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,0.5); box-shadow: inset 0 2px 2px rgba(0,0,0,0.5); }

/*Recent Content block*/
#block-node-recent .node-title a { color: #444444; font-size: 16px; font-weight: 700; }

#bottom-content .node-title a { color: #ffffff; }

#pre-header .node-title a { color: #aaaaaa; }

#block-node-recent .node-title a:hover { text-decoration: none; }

#block-node-recent .node-author { margin: 5px 0; }

#block-node-recent table { border: none; }

#block-node-recent tr.even, 
#block-node-recent tr.odd { border-bottom: 1px dashed #ddd; margin-bottom: 0; padding: 15px 0; }

#block-node-recent tbody th,
#block-node-recent tbody td { padding:8px 8px 8px 0; line-height: 1.428571429; vertical-align: top;  border: none; font-size: 13px;}

#block-node-recent tbody tr:first-child th,
#block-node-recent tbody tr:first-child td { padding-top: 0; }

#block-node-recent tbody tr:last-child { border-bottom:none; }

/*highlighted blocks*/
.highlighted-block, #block-user-login, #block-poll-recent { overflow: hidden; padding:25px; -webkit-border-radius: 6px;  -moz-border-radius: 6px; border-radius: 6px; }

.highlighted-block-inside { padding:0 25px 25px 25px;  text-align:center;}

.highlighted-block .btn { background-color: #444; color: #fff; display: block; padding: 15px 25px; margin: 20px 0 0; text-align: center; -webkit-border-radius: 4px;
-moz-border-radius: 4px; border-radius: 4px; }

.highlighted-block.nopadding { padding: 0; }

.highlighted-block .title-sep { margin: 0px 0 40px 0; }

.light, #block-user-login, #block-poll-recent { background: #fcfcfc; color: #333; border: 1px solid #eaeaea; }

.dark { background-color: #333; color: #ccc; padding: 30px 20px 0; text-align: center;  }

.dark h3 { color: #ffffff; margin:0 0 20px 0; }

.dark input[type="submit"] { font-size: 16px; font-weight: bold; margin: 10px 0; }

.dark input[type="submit"]:hover { opacity: 0.90; filter: alpha(opacity=90); }

.dark .small { color: #999; font-size: 13px; }

#block-user-login { padding: 5px 25px 0 25px; margin: 0 0 20px 0; }

/*tags cloud*/
.tag { display: inline-block; }

.tag a { background-color: #444; color: #fff; font-size: 12px; line-height: 1em; padding: 8px; margin: 3px 0; zoom: 1; z-index: 0;
-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; display: block; }

.tag a:hover { color: #fff; text-decoration: none; }

/* Drupal status messages */
div.messages { padding: 15px 15px 15px 50px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; background-position: 13px 15px;}

div.messages a { font-weight: bold; }

div.messages.status {   color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }

div.messages.status a { color: #356635; }

div.messages.error { color: #b94a48; background-color: #f2dede; border-color: #ebccd1; }

div.messages.error a { color: #953b39; }

div.messages.warning { color: #c09853; background-color: #fcf8e3; border-color: #faebcc; }

div.messages.warning a { color: #a47e3c; }

/*slideshow*/
.carousel .item { max-height: 520px; }

/*slider fade effect*/
.carousel-fade .carousel-inner .item { opacity: 0; filter: alpha(opacity=0); 
-webkit-transition-property: opacity; -moz-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; }

.carousel-fade .carousel-inner .active { opacity: 1; filter: alpha(opacity=100); }

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right { left: 0; opacity: 0; filter: alpha(opacity=0); z-index: 1; }

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right { opacity: 1; filter: alpha(opacity=100);}

.carousel-fade .carousel-control { z-index: 2; }

/*control nav*/
.carousel ol.carousel-indicators { position: absolute; top: 20px; left: auto; z-index: 2; padding: 0 20px; margin: 0; text-align: right; -moz-opacity: 0;
-khtml-opacity: 0; opacity: 0; filter: alpha(opacity=0); width: auto; bottom: auto; right: 20px; }

.carousel ol.carousel-indicators li { margin: 0px; padding: 0; *zoom: 1; background-color: rgba(0,0,0,0.5); cursor: pointer; border: none;
    width: 18px; height: 18px; text-indent: -9999px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }

.carousel ol.carousel-indicators li.active { background-color: #fcfcfc; }

/*directional nav*/
.carousel .carousel-control { background-color: #fcfcfc; color: #444; display: block; width: 48px;
height: 48px; margin: 0; padding:15px; position: absolute; overflow: hidden; top: 45%;
text-align: center; cursor: pointer; opacity: 0; filter: alpha(opacity=0);  
-webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%;
-webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; background-image: none; outline:none;}

.carousel .carousel-control.right { right: 20px }

.carousel .carousel-control.left { left: 20px }

.carousel a.carousel-control:active, .carousel a.carousel-control:hover { background-color: #fcfcfc }

.carousel-control .icon-prev, .carousel-control .icon-next { font-size: 40px; font-family: Arial, sans-serif; display: block; right: 0; left: auto; width: 100%; }

.carousel:hover .carousel-control, .carousel:hover ol.carousel-indicators { -moz-opacity: 1; -khtml-opacity: 1; opacity: 1; filter: alpha(opacity=100); }

/*slider caption*/
.carousel .carousel-caption { background-color: rgba(0,0,0,0.5); color: #fff; display: block; width: 100%; padding: 20px; position: absolute; bottom: 0;
left: 0; text-align: center; text-transform: uppercase; display: block; }

.carousel .carousel-caption h4, .carousel .carousel-caption p { max-width: 1170px; margin: 0 auto; display: block; }

@media all and (max-width: 768px) {
	.carousel .carousel-caption p { display: none; }
}

@media all and (max-width: 480px) {
	.carousel .carousel-control, .carousel .carousel-caption { display: none; }
}

/*credits*/
.credits { margin-bottom: 0; font-size: 0.9em; }

/*toggle control*/
.toggle-control { width: 100%; position: relative; z-index: 13; }

.toggle-control a, .toggle-control a:hover { color: #fff; position: absolute; top: 0; right: 0; display: block; padding: 18px 19px; line-height: 14px; cursor: pointer; height: 52px; }

/*google map*/
.gm-style img { max-width: none; }

/*scroll to top*/
#toTop { position: fixed; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background: #999999; opacity: 0.4; filter: alpha(opacity=40);
width: 55px; height: 55px; bottom: 5px; right: 5px; cursor: pointer; color: #ffffff; font-size: 32px; text-align: center; display: none; padding:10px 0 0 2px; z-index: 14; }

#toTop:hover { opacity: 1; filter: alpha(opacity=100); -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; -ms-transition: all 0.3s; transition: all 0.3s; }

/*drupal primary links*/
ul.primary { margin: 15px 0 15px 0;  padding-left: 40px; }

ul.primary, ul.primary li a, ul.primary li.active a { border-color:#eaeaea; } ul.primary li.active a { border-bottom: 1px solid #fff; }

/*drupal resets*/
#toolbar { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

#toolbar ul.menu { width: auto; }

#toolbar ul.menu li { background: none; }

.not-logged-in .block-forum .contextual-links-wrapper { display: none; }

a.contextual-links-trigger, #toolbar a, textarea { -webkit-transition: none; -moz-transition: none; -o-transition: none; -ms-transition: none; transition: none; }

/*admin theme style rules*/
.page-node-edit .region-content { padding:0 40px; }

.page-node-edit .vertical-tabs { clear:both; }

.page-node-edit .vertical-tabs, .page-node-edit .vertical-tabs ul.vertical-tabs-list, .page-node-edit .vertical-tabs ul.vertical-tabs-list li { border-color:#dfdfdf; }

.page-node-edit .vertical-tabs li { list-style:none; }