.form-item checkbox.error, .form-item radio.error{
   border: 2px solid red !important;
   outline: 2px solid red !important;
}

hr {
   margin-bottom: 35px !important;
}

h3 {
   margin-bottom: 10px !important;
}

h2 {
   margin-bottom: 0px !important;
}

.ashterisk {
   color:red !important;
}

select {
   width: 200px !important;
   margin: 0 !important;
}

.select_small {
   width: 65px !important;
}

.textbox_medium {
   width:70% !important;
}

.textbox_large {
   width: 100% !important;
}

.left_element {
   float: left;
}

#reporter_id_holder {
   width: 100%;
   height: 80px;
}

#reporter_id_holder .form-item {
   float: right;
}

.form-item-reporter-id label {
   float: left;
   margin-right: 5px;
}

.m_simple_form_element_group {
   height: 80px;
}

.m_simple_form_element_group .form-item {
   float: left;
   margin-right:20px !important;
   margin-bottom: 0px !important;
}

.form-item-dust-reporting-form-start-datetime-unsure {
    margin-top: 40px !important;
}

.form-item-dust-reporting-form-duration-unsure {
   margin-top: 20px !important;
}

.form-item-dust-reporting-form-start-datetime, .form-item-dust-reporting-form-end-datetime {
   width:240px;
   float:left;
   margin-right:5% !important;
}

.form-item-dust-reporting-form-wind-direction-unsure {
   margin-top: 40px;
}

.form-inline .form-item {
  float: left;
  margin-right: 15px;
}

.form-item-dust-reporting-form-location {
   height: 48px;
   margin-top:5px;
}

#dust_reporting_form_period_of_the_day {
   height: 26px;
}

#dust_reporting_form_period_of_the_day .form-type-checkbox {
   float: left;
   margin-right: 10px;
}

.form-item-odour-reporting-form-odour-frequency-description {
   height: 67px;
}

.form-item-odour-reporting-form-health-condition-description {
   height:55px;
}

.m_simple_form_odour_characteristic {
   height: 50px;
}

.form-item-odour-reporting-form-odour-frequency-description label, 
.form-item-odour-reporting-form-location label, 
.form-item-odour-reporting-form-health-condition-description label
{
   display: block; /* block float the labels to left column, set a width */
   float: left;
   width: 110px;
   padding: 1px;
   margin: 10px 0 0; /* set top margin same as form input - textarea etc. elements */
}

.form-item-odour-reporting-form-odour-frequency-description .form-text, 
.form-item-odour-reporting-form-health-condition-description .form-text,
.form-item-odour-reporting-form-location .form-text 
{
   float:left;
   width:90%;
}

#odour_reporting_form_odour_characteristic {
   height: 10px;
}

#odour_reporting_form_odour_characteristic .form-type-checkbox {
   float:left;
   width:200px;
   display:block;
}